body{
	background-color:#050116;

}

#header img{
	height:100px;
	width:100px;
}
#buscador a{
	text-decoration:none;
	color:white;
}

#indices{
	font-size:20px;
	font-family:sans-serif;
}

#indices a{
	text-decoration:none;
	margin-left:20px;
	padding:5px;
	border-radius:4px 4px 0px 0px;
	color:white;
	border:1px solid white;
}

#buscador input{
	border-radius:4px;
}

button{
	color:white;
	background-color:#C3006E;
	border:2px solid #C3006E;
	border-radius:3px;
}

#loginButton{
	margin-top:20px;
}

#iniciarSesion{
	color:white;
	background-color:#C3006E;
	border:2px solid #C3006E;
	border-radius:3px;
}

#estrenos h5{
	color:white;
	text-align:center;
	position:relative;
	background-color:#FF980F;
}

#content{
	margin-top:1px;
	border:1px solid white;
}

#content select{
	margin-top:50px;
}

#divEstrenos{
	border:5px solid white;
	border-radius:5px;
	margin:20px 0px 20px 0px;
}

#divCines{
	text-align:center;
}

#divSesiones{
	margin: 20px 0px 20px 0px;
	/*overflow:hidden;*/
}

#aviso{
	margin-top:20px;
}

#footer{
	text-align:center;
}

#footer img{
	height:40px;
}

/*vButacas.html*/

#content h5{
	color:white;
	font-family:sans-serif;
}

#butacas td{
	background-color:white;
	border:1px solid #8D2F5D;
	font-size:20px;
}

#butacas td:hover{
	cursor:pointer;
}

.ocupado{
	background-color:#FF5B5B !important;
}

.ocupar{
	color:white;
	background-color:#C3006E !important;
	transition:0.5s;
}

.modal-content{
	background-color:#ebe8ff;
}

.modal-header h4{
	font-family:fantasy;
}

.modal-body p{
	font-weight:bolder;
	font-family:Arial, Helvetica, sans-serif;
}

#comprarEntradas{
	background-color:#FF7A00;
	color:white;
	border:2px solid #FF7A00;
}

/*vButacas.html*/

/*vAdmin.html*/

#vAdmin{
	background-color:#E2E2E2;
}

#headerAdmin{
	margin-top:20px;
	display:flex;
	justify-content:space-between;
}

#headerAdmin h1{
	font-family:arial;
	font-weight:bold;
}

#administrar {
	text-align:center;
}

#administrar h2 {
	font-family:fantasy;
	display:inline;
}

#administrar h2:hover {
	cursor:pointer;
}

#administrar h2{
	display:inline;
}
#administrar .indiceElemento{
	font-weight:bold;
}

/*vAdmin.html*/

/*Media querys*/

@media(max-width:800px){
	#divBuscador{
		margin-top:20px;
	}
}

@media(max-width:800px){
	#estrenos img{
		height:500px !important;
	}
	
	#listaGeneros{
		margin-bottom:20px;
	}
}

@media(max-width:1000px){
	#divTrailer iframe{
		width:100%;
	}
	
	#divButacas table{
		width:100%;
	}
	
	#continuarCompra{
		margin-bottom:20px;
	}
}

/*Media querys*/

}