<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<meta http-equiv=”Content-Type” content=”text/html; charset=UTF-8″ />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="css/estilos.css">
	<title>Panel Admin</title>
</head>
<body id="vAdmin">
	<div class="container-fluid">
		<div class="header" id="headerAdmin">
			<h1>Administrar Elementos</h1>
			<button class="btn btn-dark" id="cerrarSesion"><a>Cerrar Sesión</a></button>
		</div>
		<div id="administrar">
			<div>
				<a href="#divAdminPeliculas">
					<h2 id="adminPeliculas">Peliculas</h2>
				</a>
				<button class="btn btn-primary" id="insertarPelicula"><a class="text-white" href="#divAdminPeliculas">Nueva</a></button>
			</div>
			<div>
				<a href="#divAdminEstrenos">
					<h2 id="adminEstrenos">Estrenos</h2>
				</a>
				<button class="btn btn-primary" id="insertarEstreno"><a class="text-white" href="#divAdminEstrenos">Nuevo</a></button>
			</div>
			<div>
				<a href="#divAdminCines">
					<h2 id="adminCines">Cines</h2>
				</a>
				<button class="btn btn-primary" id="insertarCine"><a class="text-white" href="#divAdminCines">Nuevo</a></button>
			</div>
			<div>
				<a href="#divAdminSesiones">
					<h2 id="adminSesiones">Sesiones</h2>
				</a>
				<button class="btn btn-primary" id="insertarSesion"><a class="text-white" href="#divAdminSesiones">Nueva</a></button>
			</div>
			<div>
				<a href="#divAdminUsuarios">
					<h2 id="adminUsuarios">Usuarios</h2>
				</a>
				<button class="btn btn-primary" id="insertarUsuario"><a class="text-white" href="#divAdminUsuarios">Nuevo</a></button>
			</div>
			<div>
				<a href="#divAdminPeliculasGeneros">
					<h2 id="adminPeliculasGeneros">Peliculas-Generos</h2>
				</a>
				<button class="btn btn-primary" id="insertarPeliculaGenero"><a class="text-white" href="#divAdminPeliculasGeneros">Nuevo</a></button>
			</div>
			<div>
				<a href="#divAdminGeneros">
					<h2 id="adminGeneros">Generos</h2>
				</a>
				<button class="btn btn-primary" id="insertarGenero"><a class="text-white" href="#divAdminGeneros">Nuevo</a></button>
			</div>
			<div>
				<a href="#divAdminFacturas">
					<h2 id="adminFacturas">Facturas</h2>
				</a>
			</div>
			
			<div id="divAdminPeliculas">
				<table class="table mx-auto" id="listaPeliculasAdmin">
				
				</table>
			</div>
			<div id="divAdminEstrenos">
				<table class="table mx-auto" id="listaEstrenosAdmin">
				
				</table>
			</div>
			<div id="divAdminCines">
				<table class="table mx-auto" id="listaCinesAdmin">
				
				</table>
			</div>
			<div id="divAdminSesiones">
				<table class="table mx-auto" id="listaSesionesAdmin">
				
				</table>
			</div>
			<div id="divAdminUsuarios">
				<table class="table mx-auto" id="listaUsuariosAdmin">
					
				</table>
			</div>
			<div id="divAdminPeliculasGeneros">
				<table class="table mx-auto" id="listaPeliculasGenerosAdmin">
					
				</table>
			</div>
			<div id="divAdminGeneros">
				<table class="table mx-auto" id="listaGenerosAdmin">
					
				</table>
			</div>
			<div id="divAdminFacturas">
				<table class="table mx-auto" id="listaFacturasAdmin">
					
				</table>
			</div>
		</div>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="js/vAdmin.js"></script>
</body>
</html>