<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv=”Content-Type” content=”text/html; charset=UTF-8″ />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="css/estilos.css">
	<title>Butacas</title>
</head>

<body>
	<div class="container-fluid">
		<div class="row" id="header">
			<div class="col-12" id="divBuscador">
				<div id="buscador">
					<img src="img/logo.png">
				</div>
			</div>

			<div class="col">
				<div id="indices">
					<a href="../index.html">Inicio</a>
					<a href="vButacas.html">Butacas</a>
				</div>
			</div>
		</div>
		<div class="row" id="content">
			<div class="col-md" id="divTrailer">
				<h5>Trailer de la película</h5>
				<iframe src="" height="400px" width="600px" id="trailer"></iframe>
			</div>
			
			<div class="col-md" id="divButacas">
				<h5>Elige asientos</h5>
				<table id="butacas">
					
				</table>



				<div class="modal fade" id="datosCompra" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  					<div class="modal-dialog" role="document">
    					<div class="modal-content">
      						<div class="modal-header">
        						<h4 class="modal-title" id="exampleModalLabel">Vas a realizar la siguiente compra:</h5>
        						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          							<span aria-hidden="true">&times;</span>
        						</button>
      						</div>
      						<div class="modal-body">
									<p id="entradasCompradas" name="entradasCompradas"></p>
									<p id="precioEntrada" name="precioEntrada"></p>
									<p id="precioTotal" name="precioTotal"></p>
									<p id="cine" name="cine"></p>
									<p id="horaSesion" name="horarioSesion"></p>
      						</div>
      						<div class="modal-footer">
        						<button id="comprarEntradas">Confirmar compra</button>
      						</div>
    					</div>
  					</div>
				</div>
			</div>
		</div>
		<div id="footer">
			<a href="https://twitter.com"><img src="img/twitter.png" height="40px"></a>
			<a href="https://www.facebook.com"><img src="img/facebook.png" height="40px"></a>
			<a href="https://www.instagram.com"><img src="img/instagram.png" height="40px"></a>
			<a href="https://www.google.com"><img src="img/gmail.png" height="40px"></a>
		</div>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="js/vButacas.js"></script>        
</body>
</html>